.lobby-pic{
    max-width: 30vw;
}
.alert-success{
    padding: 0 10px 0 10px;
    text-align: center;
    cursor: default;
}
h5{
    margin: 5px 0 5px 0;
}
.custom-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    margin: 2vw 1vh 2vw 1vh;
}
.user-row{
    justify-content: space-evenly;
}
.custom-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.player-count{
    justify-self: flex-end;
}
.col-md-12{
    max-width: min-content;
}
.btn-light:disabled{
    opacity: 0.5;
}
.alert-danger{
    animation: blink 4s ease-out;
    position: fixed;
    margin-top: 1vh;
}
@keyframes blink{
    0%{opacity: 0;}
    25%{opacity: .5;}
    50%{opacity: 1;}
    75%{opacity: .5;}
    100%{opacity: 0;}
}
#lobbyform{
    min-width: 45vw;
}
.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dialog {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    max-height: 90%;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
  }
  
  .table-container {
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f4f4f4;
  }

  td.disabled {
    color: #999;
  }