<div class="container">
  <h2>Login</h2>
  <form>
    <div class="form-group login-form">
      <div class="login-field-group">
        <label for="email">
          <h6>Email</h6>
        </label>
        <input type="email" id="email">
      </div>
      <div class="login-field-group">
        <label for="password">
          <h6>Password</h6>
        </label>
        <input type="password" id="passord">
      </div>
      <div class="login-field-group">
        <button class="btn-light">Submit</button>
      </div>
    </div>
  </form>
</div>
