.login-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.login-field-group{
 width: 100%;
 padding: 10px 0px;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}
.login-field-group>label{
    padding-right: 5px;
}
.loader {
    position: relative;
    animation: spin 1.5s forwards infinite;
    animation-fill-mode: both;
  }
  
  @keyframes spin {
    0%   {transform: rotate(0deg);}
    12.5%{transform: rotate(0deg);}
    25%  {transform: rotate(90deg);}
    37.5%  {transform: rotate(90deg);}
    50%  {transform: rotate(180deg);}
    62.5%  {transform: rotate(180deg);}
    75%  {transform: rotate(270deg);}
    87.5%  {transform: rotate(270deg);}
    100% {transform: rotate(360deg);}
  }