<div class="backdrop">
  <div class="alert-box">
    <div class="results">
      <div class="d-flex flex-column">
        <div class="p-2">{{message}}</div>
        <div class="p-2">
          <div class="d-flex justify-content-between">
            <span class="p-2">
              <p>    
                <img class="icon" src="assets/img/mine_spinner_white.png" alt="B">
                Bombs Left: {{this.stats?.bombsLeft}}
              </p>
            </span>
            <span class="p-2">
              <p>
                <img class="icon" src="assets/img/mine_spinner_white.png" alt="">
                Bombs at Start: {{this.stats?.bombsStarted}}
              </p>
            </span>
          </div>
        </div>
        <div class="p-2">Time Spent: {{this.stats?.timeSpent}}</div>
        <div class="p-2 d-flex flex-row justify-content-center">
          <div class="alert alert-mine"*ngIf="!isAuthenticated()">
            You need to log in it order to share your results!
          </div>
          <button class="btn-light"
                  *ngIf="isAuthenticated()"
                  (click)="share()">Share results!</button>
        </div>
      </div>
    </div>
    <div class="alert-box-actions">
      <button class="btn-light"
              (click)="onClose()" [disabled]="false"> Close </button>
    </div>
  </div>
</div>
